* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Gray-Scale-White, #FFF);
    box-shadow: 0px 1px 0px 0px #E5E5E5;
}

.location {
    padding: 12px 0px 12px 0px;
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.info {
    display: flex;
    gap: 8px;
    align-items: center;
}

.paraghrap {
    color: var(--Gray-Scale-Gray-600, #666);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.information {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lang {
    display: flex;
    align-items: center;
    gap: 6px;
}

.border {
    width: 1px;
    height: 15px;
    background: #E6E6E6;
}

.signUp {
    display: flex;
    align-items: center;
    gap: 4px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 28px 0px 28px 0px;

}

.plant {
    display: flex;
    gap: 8px;
    align-items: center;
}

.eco {
    color: var(--Gren-Gray-Scale-900, #002603);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;

}

.search {
    display: flex;
    max-width: 400px;
    width: 100%;
    padding: 12px 18px 12px 16px;
    align-items: center;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid var(--Gray-Scale-Gray-100, #E6E6E6);
    gap: 6px;
}

.searchBarO {
    border: none;
    background: none;
}

.searchBarO::placeholder {
    color: var(--Gray-Scale-Gray-500, #808080);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;

}

.box {
    display: flex;
    align-items: center;
}

#button {
    padding: 15px 24px;
    border-radius: 0px 6px 6px 0px;
    background: #00B207;
    border: none;
    color: white;
    cursor: pointer;
}

.shopping {
    display: flex;
    align-items: center;
    gap: 16px;
}

.shop {
    display: flex;
    gap: 12px;
    align-items: center;
}

.two {
    display: flex;
    position: relative;


}

.second {
    position: absolute;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.5px 6px 4.5px 6px;
    border-radius: 16px;
    border: 1px solid var(--Gray-Scale-White, #FFF);
    background: var(--Branding-Success-Dark, #2C742F);
    color: #FFF;
    height: 18px;
    font-size: 10px;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.dollar {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Gray-Scale-Gray-800, #333);
}

.informationBox {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 0px 16px 0px;
}

.pages {
    display: flex;
    align-items: center;
    gap: 32px;
}

.home {
    display: flex;
    align-items: center;
    gap: 4px;
}

a {
    text-decoration: none;
}

.Shop {
    display: flex;
    align-items: center;
    gap: 4px;
}

.pHome {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.pParaghraps {
    color: #999;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;

}

.phoneNumber {
    display: flex;
    align-items: center;
    gap: 8px;
}

.number {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.main {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    max-width: 1320px;
    width: 100%;
    gap: 12px;
    flex-wrap: wrap;
}

.mainWrapper {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.mainBox {
    background-image: url(../image/Bannar\ Big\ .svg);
    max-width: 872px;
    width: 100%;
    height: 600px;
    padding: 0px 0px 0px 60px;
    display: flex;
    align-items: center;
}

.organic {
    max-width: 596px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.freshFood {
    color: var(--Gray-Scale-White, #FFF);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

}

.line {
    background: var(--Branding-Success-Bright, #84D187);
    width: 2px;
    height: 65px;
}

.sale {
    display: flex;
    gap: 12px;
    align-items: center;
}

.up {
    display: flex;
    gap: 8px;

    flex-direction: column;
}

.saleUp {
    display: flex;
    gap: 8px;
    color: var(--Gray-Scale-White, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;

}

.buttonid {
    padding: 4px 12px;
    border-radius: 5px;
    background: var(--Branding-Warning, #FF8A00);
    color: #FFF;
    border: none;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
}

.shipping {
    color: #999;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
}

.shopNow {
    display: flex;
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: var(--Branding-Success, #00B207);
    border-radius: 53px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    border: none;
}

.saleOne {
    background-image: url(../image/BG.png);
    width: 423px;
    height: 288px;
    flex-shrink: 0;
    border-radius: 10px;
}

.leaves {
    background-image: url(../image/leaves.png);
    max-width: 423px;
    width: 100%;
    height: 288px;
}

.photos {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.saleOne {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 32px 0px 0px 32px;

}

.summerSale {
    width: 156px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sSale {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.summerSsale {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}

.discount {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

}

.shopNoww {
    display: flex;
    align-items: center;
    gap: 12px;



}

.leaves {
    background-image: url(../image/leaves.png);
    max-width: 423px;
    width: 100%;
    height: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paraghrapOne {
    color: var(--Branding-Success, #00B207);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.bestDeal {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.productParaghraps {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bestDeals {
    color: var(--Gray-Scale-White, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}

.pd {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 343px;
}

.speacialProduct {
    color: var(--Gray-Scale-White, #FFF);
    text-align: center;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

}

.costumerInformation {
    display: flex;
    max-width: 1320px;
    width: 100%;
    padding: 40px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: var(--Gray-Scale-White, #FFF);
    box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
    flex-wrap: wrap;
}

.truck {
    display: flex;
    align-items: center;
    gap: 16px;

}

.freeShip {
    color: #1A1A1A;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;

}

.freeShipping {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.productWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px
}

.categories {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    width: 100%;
    align-items: center;
    margin-top: 60px;
}

.categoriesP {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.viewall {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.fruitWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px 24px 0px;
    gap: 16px;
    border-radius: 5px;
    border: 1px solid var(--Gray-Scale-Gray-100, #E6E6E6);
    background: var(--Gray-Scale-White, #FFF);
    cursor: pointer;
    color: var(--Branding-Success-Dark, #2C742F);
}

.fruitWrapper:hover {
    border: 1px solid var(--Branding-Success-Dark, #2C742F);
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
    cursor: pointer;
    color: var(--Branding-Success-Dark, #2C742F);
}

.fruitWrapper:hover .fresh {
    color: var(--Branding-Success-Dark, #2C742F);
}

.fruitBox {
    max-width: 1320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fresh {
    color: var(--Gray-Scale-Gray-900, #1A1A1A);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}


.fruitBoxWrapper {
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 1320px;
    width: 100%;
}
.fruitWrapper p:hover {
    color: var(--Branding-Success-Dark, #2C742F);
}